/* line 1, ../sass/app.scss */
html, body {
  margin: 20px 0px;
}

/* line 5, ../sass/app.scss */
form {
  width: 100%;
}

/* line 9, ../sass/app.scss */
.selectpicker {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}

/* line 17, ../sass/app.scss */
.search-button {
  height: 58px;
}

/* line 22, ../sass/app.scss */
.input-save-name {
  height: 2em;
}

/* line 26, ../sass/app.scss */
.button-save-name {
  height: 2em;
}

/* line 30, ../sass/app.scss */
.border-around-element {
  border: 1px solid;
}

/* line 34, ../sass/app.scss */
div.row {
  padding-top: 10px;
}

/* line 39, ../sass/app.scss */
.fixedHeightRowDiv {
  height: 400px;
  width: 100px;
  overflow: hidden;
}

/* line 45, ../sass/app.scss */
.ember-list-view {
  overflow: auto;
  position: relative;
  z-index: 1;
}

/* line 51, ../sass/app.scss */
.ember-list-item-view {
  position: absolute;
  width: 100%;
}
